{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="page-header text-center">
      <h3>Google Reports - Lists</h3>
    </div>

    <div class="col-xs-4 domainsFrequency">
      <a>Domains Frequency - Top 50</a>
      <table class="table-responsive table-striped">
        <thead>
          <tr>
            <th>Domains</th>
            <th>Frequency</th>
          </tr>
        </thead>
        <tbody>
          {% for domainFrequency in domainsFrequency %}
            <tr>
              <td>{{ domainFrequency.domain }}</td>
              <td>{{ domainFrequency.countDomains }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if domainsFrequency.has_other_pages %}
        <ul class="pagination pagination-sm">
          <li><a href="?page=1">First</a></li>
          {% if domainsFrequency.has_previous %}
            <li><a href="?page={{ domainsFrequency.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          
          {% if domainsFrequency.has_next %}
            <li><a href="?page={{ domainsFrequency.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
          <li><a href="?page={{ domainsFrequency.paginator.num_pages }}">Last</a></li>
          <li><a> Page {{ domainsFrequency.number }} of {{ domainsFrequency.paginator.num_pages }} </a></li>
        </ul>
      {% endif %}
    </div>
  </div>

{% endblock %}
